<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Cerebro Metron - Register</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <link th:href="@{/css/auth-pages.css}" rel="stylesheet">
</head>

<body class="h-100">

<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">
                            <a class="text-center" th:href="@{/}">
                                <h3 class="register-heading">REGISTER</h3>
                            </a>

                            <form th:action="@{/register}" th:object="${user}" method="post"
                                  class="mt-5 mb-5 login-input" id="registrationForm">

                                <div class="form-group">
                                    <input type="text" th:field="*{name}" class="form-control"
                                           placeholder="Full Name" required>
                                </div>

                                <div class="form-group">
                                    <input type="email" th:field="*{email}" class="form-control"
                                           placeholder="Email Address" required>
                                </div>

                                <div class="form-group">
                                    <input type="password" th:field="*{password}" class="form-control"
                                           id="password" placeholder="Password"
                                           minlength="6" required>
                                    <div class="password-requirements">
                                        <small id="lengthRequirement" class="requirement">
                                            <i class="fa fa-times-circle"></i> At least 6 characters
                                        </small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control"
                                           id="confirmPassword" placeholder="Confirm Password"
                                           minlength="6" required>
                                    <small id="passwordMatch" class="requirement" style="display: none;">
                                        <i class="fa fa-times-circle"></i> Passwords do not match
                                    </small>
                                </div>

                                <button type="submit" class="btn login-form__btn submit w-100" id="submitBtn">
                                    Sign Up
                                </button>

                                <div th:if="${param.success}" class="text-success text-center mt-3">
                                    ✓ Registration successful! You may now log in.
                                </div>
                                <div th:if="${param.error}" class="text-danger text-center mt-3">
                                    ✗ Registration failed. Email may already be in use or password too short.
                                </div>
                            </form>

                            <p class="mt-5 login-form__footer">
                                Already have an account?
                                <a th:href="@{/login}" class="text-primary">Sign In</a> now
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>

<script th:src="@{/js/auth-pages.js}"></script>

</body>
</html>